doctype html
html
  head
    title Fan Art Slideshow
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='https://use.fontawesome.com/releases/v5.1.0/js/all.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/scripts/slideshow.js')
  body
    h1="Fan Art Slideshow!"
    div#slideshow
      each file in artwork
        div.slide
          div.credit
            h2=file.artist
            //p=file.filepath
          img(class="slide-img" src=file.filepath)
