doctype html
html
  head
    title Fan Art Slideshow
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='https://use.fontawesome.com/releases/v5.1.0/js/all.js')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    h1="Fan Art Slideshow!"
    table
      each file in artwork
        tr
          td
            h2=file.artist
            p=file.filepath
            img(class="slideshow-img" src=file.filepath)
